.menuWeb {
  height: 120px;
  display: flex;
}

.menuWeb img.logo-web {
  position: absolute;
  width: 227.03px;
  height: 72.2px;
  left: 23.97px;
  top: 3px;
}

.menuWeb img.background {
  width: 54.5em;
}

.menuHandsetPortrait img.iconeMenu {
  padding-left: 19%;
}

.menuHandsetPortrait {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 14px;
}

.integration-list-web {
  display: grid;
  grid-template-columns: 30em 30em 30em;
  grid-auto-rows: 60px;
  grid-gap: 200px 0px;
  justify-content: center;
  padding-left: 6em;
  padding-top: 50px;
  overflow: auto;
}

.card-overlay-web {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 373px;
  height: 215px
}

h4.card-title-web {
  color: white;
  font-size: 24px;
  font-weight: 800;
  font-family: "roboto";
  left: 20px;
  top: 35px;
  position: relative;
}

p.card-text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  font-family: "roboto";
  padding: 45px 15px 15px 20px
}

img.card-logo-web {
  float: right;
  padding: 20px 30px 0 0;
}

.integration-list-handset {
  display: grid;
  grid-template-columns: 13em 10em;
  grid-auto-rows: 60px;
  grid-gap: 130px 0px;
  justify-content: center;
  padding-top: 50px;
  overflow: auto;
}

.card-overlay-Handset {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 170px;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}

img.card-logo {
  padding-top: 25px;
}

.card-title {
  padding-bottom: 25px;
  color: white;
  font-weight: 800;
  font-family: "roboto";
}

.overlay-handset {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  bottom: -4px;
  position: absolute;
  width: 45px;
  left: 18%;
  border-radius: 20px;
  border: solid 4px white;
}

.menuTitle {
  float: right;
  margin: 40px 20px 0px 25px;
}

.vl {
  border-left: 6px solid black;
  height: 50px;
  top: 27px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 800;
  font-family: "roboto";
}

.card-block {
  transition: 1s ease;
}

.card-block:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }

.menuText {
  display: flex;
  margin-left: auto;
}