<div [ngSwitch]="currentBreakpoint">
  <div *ngSwitchCase="Breakpoints.Web">
    <div class="menuWeb">
      <div class="bglandingpage">
        <img src="../../assets/backgroundLanding.jpg" class="bglandingpage">
        <div class="container">
          <div class="logo-container">
            <img src="../../assets/LogoArea.png" class="logo-web">
          </div>
          <div class="rectangle-container">
            <div class="rectangle">
              <strong><p class="new">Nouveau sur Area ?</p></strong>
              <div class="form-container">
                <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit(inscriptionForm)">
                  <div *ngIf="userExist" class="text-danger">L'utilisateur existe déjà</div>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" required>
                  <div *ngIf="emailFormControl.hasError('email')" class="text-danger">L'e-mail n'est pas valide</div>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="password" [formControl]="passwordFormControl" required>
                  <div *ngIf="passwordFormControl.hasError('minlength')" class="text-danger">Le mot de passe doit contenir 8 characteres</div>
                  <input type="confirmPassword" name="confirmPassword" id="password-verifiy" class="form-control" placeholder="Confirmation" [(ngModel)]="confirmPassword" required>
                  <div *ngIf="password !== confirmPassword" class="text-danger">Les mots de passe ne correspondent pas</div>
                  <button type="submit" class="btn-submit">S'inscrire</button>
                </form>
              </div>
              <strong><a href="signin"><p class="old">Déjà un compte ? Connectez-vous</p></a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="Breakpoints.HandsetPortrait" class="overlay-handset">
    <img src="../../assets/bglandingpage.png" class="bglandingpageMobile">
    <div class="logo-container-mob">
      <img src="../../assets/LogoArea.png" class="logo-web-mob">
    </div>
    <div class="rectangle-container-mob">
      <div class="rectangle-mob">
        <strong><p class="new-mob">Nouveau sur Area ?</p></strong>
        <div class="form-container-mob">
          <form #inscriptionForm="ngForm" (ngSubmit)="onSubmit(inscriptionForm)">
            <div *ngIf="userExist" class="text-danger">L'utilisateur existe déjà</div>
            <input type="email" id="email" class="form-control-mob" placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl" required>
            <div *ngIf="emailFormControl.hasError('email')" class="text-danger">L'e-mail n'est pas valide</div>
            <input type="password" id="password" class="form-control-mob" placeholder="Mot de passe" [(ngModel)]="password" [formControl]="passwordFormControl" required>
            <div *ngIf="passwordFormControl.hasError('minlength')" class="text-danger">Le mot de passe doit contenir 8 characteres</div>
            <input type="confirmPassword" id="password-verifiy" class="form-control-mob" placeholder="Confirmation" [(ngModel)]="confirmPassword" required>
            <div *ngIf="password !== confirmPassword" class="text-danger">Les mots de passe ne correspondent pas</div>
            <button type="submit" class="btn-submit-mob">S'inscrire</button>
          </form>
        </div>
        <strong><a href="signin"><p class="old-mob">Déjà un compte ? Connectez-vous</p></a></strong>
      </div>
    </div>
  </div>
</div>
