<div [ngSwitch]="currentBreakpoint">
  <div class="menuWeb" *ngSwitchCase="Breakpoints.Web">
      <a href="/home">
        <img src="../../assets/LogoArea.png" class="logo-web">
      </a>
      <img src="../../assets/menuHeader.png" class="background">
      <div class="menuText">
        <p class="menuTitle"><a href="create-integration">Créer</a></p>
        <div class="vl"></div>
        <p class="menuTitle"><a href="integration">Vos intégrations</a></p>
      </div>
      <div class="flex-rectangle">
        <div class="crea-auto">
          <strong><p class="text-crea-integration">Créer votre propre automatisation</p></strong>
          <strong><p class="text-lorsque">Lorsque</p></strong>
          <select [(ngModel)]="selectAction" class='lorsque-box' >
            <option value="meteo">meteo</option>
            <option value="league">league</option>
            <option value="nasa">nasa</option>
          </select>
          <select  [(ngModel)]="selectReaction" name="alors" class='alors-box' >
            <option value="reddit">reddit</option>
            <option value="spotify">spotify</option>
            <option value="github">github</option>
          </select>
          <strong><p class="text-alors">Alors</p></strong>
        </div>
        <div class="perso-auto">
          <strong><p class="text-crea-integration">Personnaliser votre automatisation</p></strong>
          <input type="text-area" class="color-box" placeholder="description"[(ngModel)]="description">
          <input type="text" class="name-box" placeholder="Nom" [(ngModel)]="workflowName">
          <label>Activer l'automatisation a la creation (si vous etes connectez au different service)</label>
          <input type="checkbox" class="img-box" [(ngModel)]="isActive">
        </div>
        <div class="validate-integration">
          <ion-button color="light" shape="round" (click)="sendWorkflow()">Créer</ion-button>
        </div>
  </div>
  <div *ngSwitchCase="Breakpoints.HandsetPortrait">
    <div class="overlay-handset">
      <img src="../../assets/LogoAreaBlack.png" class="logo-handset">
    </div>
    <div class="menuHandsetPortrait">
      <a href="home"><img src="../../assets/logoAutomatisation.png" class="iconeMenu"></a>
      <a href="create-integration"><img src="../../assets/logoCreate.png" class="iconeMenu"></a>
      <img src="../../assets/logoLogin.png" class="iconeMenu">
      <hr class="active">
    </div>
  </div>  
</div>

<router-outlet></router-outlet>