<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AREA on app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AREA</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="tempo">Area</div>
    <div id="container">
      <ion-button fill="outline" class="button">Connexion</ion-button>
    </div>
    <div id="container">
      <ion-button fill="outline" class="button">Inscription</ion-button>
    </div>
  </div>
</ion-content>