<div [ngSwitch]="currentBreakpoint">
  <div *ngSwitchCase="Breakpoints.Web">
    <div class="menuWeb">
      <img src="../../assets/LogoArea.png" class="logo-web">
      <img src="../../assets/menuHeader.png" class="background">
      <div class="menuText">
        <p class="menuTitle"><a href="create-integration">Créer</a></p>
        <div class="vl"></div>
        <p class="menuTitle"><a href="integration">Vos intégrations</a></p>
      </div>
    </div>
    <app-card/>
    <div class="parametre">
      <div *ngIf="actionName === 'meteo'" class="action">
        <h1>Parametre pour l'action meteo</h1>
        <input type="text" placeholder="ville">
        <input type="number" placeholder="temperature">
      </div>
      <div *ngIf="actionName === 'league'" class="action">
        <h1>Parametre pour l'action League of Legends</h1>
        <input type="text" placeholder="nom d'utilisateur">
      </div>
      <div *ngIf="reactionName === 'reddit'" class="reaction">
        <h1>Parametre de la reaction Reddit</h1>
        <input type="text" placeholder="nom d'utilisateur">
      </div>
      <div *ngIf="reactionName === 'spotify'" class="reaction">
        <h1>Parametre de la reaction Spotify</h1>
        <input type="text" placeholder="id de la playlist">
      </div>
    </div>
    <div class="inputElement">
      <div class="saveIntegration">
        <label for="scales">Activer l’integration</label>
        <input type="checkbox" id="scales" name="scales">
      </div>
      <div class="save-button">
        <a href="#"> enregistrez </a>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="Breakpoints.HandsetPortrait">
    <div class="overlay-handset">
      <img src="../../assets/LogoAreaBlack.png" class="logo-handset">
    </div>
    <app-card/>
    <div class="saveIntegrationHandset">
      <label for="scales">Activer l’integration</label>
      <input type="checkbox" id="scales" name="scales">
    </div>
    <div class="save-button mobile">
      <a href="#"> enregistrez </a>
    </div>
    <div class="menuHandsetPortrait">
      <a href="home"><img src="../../assets/logoAutomatisation.png" class="iconeMenu"></a>
      <a href="create-integration"><img src="../../assets/logoCreate.png" class="iconeMenu"></a>
      <img src="../../assets/logoLogin.png" class="iconeMenu">
      <hr class="active">
    </div>
  </div>  
</div>

<router-outlet></router-outlet>