<div [ngSwitch]="currentBreakpoint">
  <div *ngSwitchCase="Breakpoints.Web">
    <div class="menuWeb">
      <img src="../../assets/LogoArea.png" class="logo-web">
      <img src="../../assets/menuHeader.png" class="background">
      <div class="menuText">
        <p class="menuTitle"><a href="create-integration">Créer</a></p>
        <div class="vl"></div>
        <p class="menuTitle"><a href="integration">Vos intégrations</a></p>
      </div>
    </div>
    <app-card/>
    <div class="inputElement">
      <div class="saveIntegration">
        <label for="scales">Activer l’integration</label>
        <input type="checkbox" id="scales" name="scales">
      </div>
      <div class="save-button">
        <a href="#"> enregistrez </a>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="Breakpoints.HandsetPortrait">
    <div class="overlay-handset">
      <img src="../../assets/LogoAreaBlack.png" class="logo-handset">
    </div>
    <app-card/>
    <div class="saveIntegrationHandset">
      <label for="scales">Activer l’integration</label>
      <input type="checkbox" id="scales" name="scales">
    </div>
    <div class="save-button mobile">
      <a href="#"> enregistrez </a>
    </div>
    <div class="menuHandsetPortrait">
      <a href="home"><img src="../../assets/logoAutomatisation.png" class="iconeMenu"></a>
      <a href="create-integration"><img src="../../assets/logoCreate.png" class="iconeMenu"></a>
      <img src="../../assets/logoLogin.png" class="iconeMenu">
      <hr class="active">
    </div>
  </div>  
</div>

<router-outlet></router-outlet>